<?xml version="1.0" encoding="UTF-8"?>

<!-- Step 1: Define the bean in XML (beans.xml) -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="phoneDao" class="org.example.dao.PhoneDaoImpl"/>

    <bean id="phoneService" class="org.example.service.PhoneServiceImpl">
        <constructor-arg ref="phoneDao"/>
    </bean>



</beans>
